<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.phronesis.sync-subscribers</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
        <string>/Users/sipho/Desktop/Phronesis/sync-subscribers.js</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Weekday</key>
            <integer>4</integer>
            <key>Hour</key>
            <integer>12</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>7</integer>
            <key>Hour</key>
            <integer>12</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/sipho/Desktop/Phronesis/sync-subscribers.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sipho/Desktop/Phronesis/sync-subscribers.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/sipho/Desktop/Phronesis</string>
</dict>
</plist>
